*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-image: url("/Imagens pastelaria/fundo-de-madeira.jpg");
    background-size: 100% auto;
}

#pasteis_comprados{
    background-color: goldenrod;
    width: 60%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 5%;
    border-radius: 10px;
}

.div_cartao{
    background-color: antiquewhite;
    justify-content: space-between;
    display: flex;
    width: 95%;
    height: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    border: solid 1px gold;
    align-items: center;
}

#lista_caixa_pasteis li div img{
    border-radius: 10px;
    border: solid 1px black;
    height: 100%;
    width: 10%;
}
.espaco_nome{
    height: 100%;
    width: 40%;
    align-content: center;
}

#texto_unitario{
    font-size: 10px;
    color: rgb(26, 25, 25);
}

.texto_caixa_pasteis{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    align-content: center;
    text-align: center;
}

#caixa_preco_unitario{
    width: 10%;
}

#caixa_precoT_por_produto{
    width: 18%;
}

#texto_caixa_quantidade{
    width: 10%;
}

#nome_do_pastel{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#lista_caixa_pasteis{
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-type: none;
    display: grid;
    row-gap: 30px;
}

@media (max-width: 1600px) {
    #pasteis_comprados{
        width: 90%;
    }
}

@media (max-width: 1000px) {
    #pasteis_comprados{
        width: 95%;
    }

    .div_cartao{
        height: 200px;
        display: grid;
        grid-template-columns: repeat(3,110px);
        grid-template-rows: repeat(2,110px);
        row-gap: 5px;
    }

    #caixa_precoT_por_produto{
        grid-column-start: 3;
    }

    #lista_caixa_pasteis li div img, #lista_caixa_pasteis li div div{
        width: 100%;
        height: 100%;
    }

}