 *{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
  }

main {
    padding-block: 30px;
    background-image: url('/Imagens pastelaria/fundo-de-madeira.jpg');
    background-size: 100% auto;
}

.pastel_titulo {
    text-align: center;
    color: white;
    margin-bottom: 40px;
    padding-block: 10px;
    background-color: rgb(209, 115, 65);
    max-width: 1000px;
    margin-inline: auto;
    border-radius: 10px;
}

.lista_pasteis{
    list-style-type: none;
    position: relative;
    display: grid;
    max-width: 800px;
    margin-inline: auto;
    padding-inline-start: 0px;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-auto-rows: 200px;
    gap: 30px;
    padding-inline: 10px;
    font-size: 16px;
}

.imagens_pasteis{
    position: relative;
    height: 60%;
}

.imagem_pastel{
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    border: solid black 1px;
}

.descricao{
    position: absolute;
    background-color: white;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0%;
    overflow-y: auto;
    overflow-x: hidden;
}

.texto_pasteis{
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    color: white;
    width: 100%;
    font-size: 0.8em;
}

.texto_descricao{
    text-align: left;
    font-family: 'Franklin Gothic Medium';
    color: black;
    padding: 5px;
    font-size: 0.7em;
}

.descricao_pasteis{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
}

.info_pastel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    column-gap: 10px;
}

.preco_pastel {
    font-size: 0.8em;
    color: white;
}

.div_pasteis{
    padding: 10px;
    background-color: rgb(179, 93, 32);
    border: solid black 1px;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.lista_itens_div{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex-direction: row;
    padding-inline-start: 0px;
}










.butao_pastel{
    width: 35%;
    max-width: 80px;
    height: 100%;
    display: flex;
    flex-grow: 1;
}

.butao_mais{
    width: 30%;
    height: 100%;
    display: inline-block;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    position: relative;
    cursor: pointer;
}

.butao_mais::before{
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    background-color: black;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 20px;
}
.butao_mais::after{
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    background-color: black;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 20px;
    rotate: 90deg;
}


.butao_menos{
    width: 30%;
    height: 100%;
    display: inline-block;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
    position: relative;
    cursor: pointer;
}

.butao_menos::before{
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    background-color: black;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 20px;
}

.butao_que_nao_e_butao{
    width: 40%;
    height: 100%;
    display: inline-block;
    text-align: center;
    outline: none;
}

.butao_que_nao_e_butao::-webkit-outer-spin-button,
.butao_que_nao_e_butao::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.descricao:hover{
    opacity: 85%;
}

.carrinho_butao {
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: rgb(209, 115, 65);
    padding: 10px 20px;
    margin-inline: auto;
    display: block;
    width: max-content;
    margin-top: 20px;
    font-size: 1.3rem;
    border-radius: 10px;
}
.carrinho_butao:hover {
    background-color: rgb(252, 151, 97);
    scale: 1.1;
}

@media (min-width: 700px) {
    .lista_pasteis {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-auto-rows: 250px;
        font-size: 20px;
    }
}
